$text-color: black;
$border-color: #ccc;
$background-color: white;

.main-inicio {
  display: flex;
  margin: 200px;
  background-color: $background-colo;
  padding: 50px 10px 0px 4px;
  .carta-1 {
    width: 300px;
    border: 1px solid $border-color; 
    border-radius: 8px;
    overflow: hidden; 
    margin: 12px;
    .carta-1 a {
      text-decoration: none;
      font-size: 17px;
      .titulo-carta1 {
        font-size: 20px;
       }
    }
  }
  .carta-2 {
    width: 300px;
    border: 1px solid $border-color; 
    border-radius: 8px;
    overflow: hidden; 
    margin: 15px;
    .carta-2 a {
      text-decoration: none;
      font-size: 17px;
      .titulo-carta2 {
        font-size: 20px;
       }
    }
  }
  .carta-3 {
    width: 300px;
    border: 1px solid $border-color; 
    border-radius: 8px;
    overflow: hidden; 
    margin: 15px;
    .carta-3 a {
      text-decoration: none;
      font-size: 17px;
      .titulo-carta3 {
        font-size: 20px;
       }
    }
  }
}