$background-color: white;
$color-footer: #7c573d;
$color-iconos: #916e55;
@media (min-width:501px) {
    .fondo-img i {
        font-size: 10px;
        nav a {
            display: inline;
            font-size: 10px;
            .nav-inicio {
                display: inline;
            }
        }
    }
    
    .main-inicio {
        background-color:$background-color ;
        display: inline-block;
        margin: 120px;
    
        .texto-main {
            width: 100%;
            display: flex;
            justify-content: center;
            font-size: 20px;
            .carta-1 {
                background-color: $background-color;
                width: 210px;
                .carta-2 {
                    background-color: $background-color;
                    width: 210px;
                    .carta-3 {
                        background-color: $background-color;
                        width: 210px;
                    }
                }
            }
        }
    }
    .pie-paginainicio {
        background-color: $color-footer;
        width: 500px;
        height: 500px;
        .pie-paginainicio .grupo-1 {
            width: 100%;
            grid-template-columns: repeat(1,1fr);
            grid-gap: 30px;
            padding: 35px 0px;
            background-color: $color-footer;
            .pie-paginainicio .grupo-1 .box figure {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .pie-paginainicio .grupo-2 {
                    width: 100%;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $color-footer;
                    .pie-paginainicio .redes-sociales i{
                        background-color: $color-iconos;
                    }
                }
            }
        }
    }

}

